	<!DOCTYPE html>
	<html>
	<head>
		<title>SoundTrack | Start</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<center>
				<div class="jumbotron">
					<h1>SoundTrack</h1>
				</div>

				<button type="button" onclick="helpStart()">?</button>

				<br><br>
				<h4>Soundscape</h4>

				<div class="soundscroll squares" id="scroll1">
				{{#each soundscapes}} 
				<button class="button" onclick="soundEffect({{soundEffectnum}})" id="{{id}}">{{name}}</button>
				{{/each}}
				</div>

				<br><br>
				<h4>Alert Sound</h4>
				<div class="soundscroll squares" id="scroll2">
				{{#each alerts}} 
				<button class="button" onclick="soundEffect({{soundEffectnum}})" id="{{id}}">{{name}}</button>
				{{/each}}
				</div>

				<br><br>
				<div id="div1">No sound effect selected yet...</div>

				<br><br>
				<!-- Downtime slider 
				<output id="downtime" for="downtimeRange">20</output><br><br>
				<div class="slidecontainer">
					<input type="range" min="1" max="40" value="20" class="slider" id="downtimeRange" oninput="downtime.value = downtimeRange.value">
				</div> <br><br>-->

				<p class="downtime-text">Allowed Downtime: <span id="downtime">20</span> minutes</p>
				<br>
				<div class="slidecontainer">
					<input type="range" min="1" max="40" value="20" class="slider" id="downtimeRange" oninput="updateTimeRange(this.value)">
				</div>
				<br><br>
				<!-- Start working -->
				<div class="button" id="start">
					<a href="screen2" class="thumbnail">
						<p>Start Working!</p>
					</a>
				</div>
			</center>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/script.js"></script>


	</body>
	</html>